<img src="{{model.image}}" alt="{{model.name}}" class="medium-image"/>

{{#link-to "characters.character"}}
    {{model.name}}
{{/link-to}}

<button {{action 'remove' model}}>Remove Character</button>
