<img src="{{model.image}}" alt="{{model.name}}" class="display-image"/>


<div class="character-info flex-row">
    {{#link-to "characters.character"}}
        {{model.name}}
    {{/link-to}}

    <button {{action 'remove' model}}>Remove Character</button>
</div>
