<div class="form-control">
    <label for="name">Character Name: </label>
    {{input value=model.name id="name"}}
</div>

<div class="form-control">
    <label for="image">Character Image: </label>
    {{input value=model.image}}
</div>

<button {{action "save" model}}>Add Character</button>
